* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.bckgrnd {
  width: 100%;
  height: 100vh;
  background-image: url(./images/img1.png);
  opacity: 95%;
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 100%;
  margin: auto;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.952);
}

.img {
  width: 20%;
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #ffa700;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s ease;
}
.navbar ul li:hover::after {
  width: 100%;
}
.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #ffa700;
}

.content h1 {
  font-size: 60px;
  margin-top: 80px;
}
.content p {
  margin: 20px auto;
  font-size: 40px;
  font-weight: 100;
  line-height: 25px;
}

.btn {
  padding: 8px 8px;
  margin: 5px 10px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  color: #ffa700;
  background-color: black;
}

.btn a {
  text-decoration: none;
}
.btn a:visited {
  color: inherit;
}

.btn a:hover {
  color: white;
  font-size: 18px;
}
